<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <h1>로그인 페이지</h1>
    <fieldset>
        <legend>로그인</legend>
        <form action="/user/login" method="post">
            <div>
                <label>
                    <b>아이디</b>
                    <input type="text" name="id">
                </label>
            </div>
            <div>
                <label>
                    <b>비밀번호</b>
                    <input type="text" name="password">
                </label>
            </div>
            <div>
                <label>
                    <span>아이디 기억</span>
                    <input type="checkbox">
                </label>
                <label>
                    <span>자동로그인</span>
                    <input type="checkbox">
                </label>
            </div>
            <div>
                <button>로그인</button>
            </div>
        </form>

        <section>
            <a href="/oauth2/authorization/naver"><img src="" alt="">네이버 로그인</a>
            <a href="/oauth2/authorization/google"><img src="" alt="">구글 로그인</a>
        </section>




    </fieldset>
</body>
</html>