<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>OAUTH2 콜백 화면</h1>
    <b>ACCESS_TOKEN:</b><span th:text="${accessToken}"></span>
</body>
</html>
<script>
    // 클라이언트 사이드일때만 동작합니다
    // const span = document.querySelector('span');
    // const hash = location.hash.substring(1);
    // for (const items of hash.split('&')){
    //     const [key, value] = items.split('=');
    //     console.log(key, value);
    //     if(key === 'access_token'){
    //         span.textContent = value;
    //     }
    // }
</script>







