<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>서버 사이드 OAUTH2</h1>
    <button type="button">네이버 로그인</button>
</body>
</html>
<script>
    const button = document.querySelector('button');
    button.onclick = () => {
        const response_type = 'code';
        const client_id = 'd';
        const redirect_uri = 'http://localhost:8080/callback';
        const url = `https://nid.naver.com/oauth2.0/authorize?response_type=${response_type}&client_id=${client_id}&redirect_uri=${redirect_uri}`;
        location.href = url;
    }
</script>







